.resize {
    font-size: 0.9vw;
    text-align: center;
}

.cross {
    text-align: right;
}


#or {
    font-size: 3em;
}

.separation{
    height: 1px;
  background-color: white;
  border: 0;
  width: 4rem;
}


.question:hover{
    background-color:rgba(68, 68, 68, 0.096)!important;
   
}

.resize>div:hover {
    background-color: rgba(18, 83, 33, 0.788)!important;
    cursor: pointer;
}

.card-body>i.fa-frown:hover {
    color: red;
    cursor: pointer;
}

.sadClicked {
    color: red;
}

.mehClicked {
    color: orange;
}

.happyClicked {
    color: green;
}

.card-body>i.fa-meh:hover {
    color: orange;
    cursor: pointer;
}

.card-body>i.fa-smile:hover {
    color: green;
    cursor: pointer;
}

#previous{
    cursor: pointer;
}

.btn-success.focus, .btn-success:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(27, 133, 36, 0.459) !important;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

hr {
    border-width: 0.15rem !important;
}
