.resize {
   
    text-align: center;
    padding-top: 10px;
}

.cross {
    text-align: right;
}

h3 {
    font-size: 1.7vw!important;
  }
  @media screen and (max-width: 767px) {
    h3 {
       font-size: 25px!important;
    }
  }


  h5 {
    font-size: 1.5vw!important;
  }
  @media screen and (max-width: 767px) {
    h5 {
       font-size: 20px!important;
    } 
  }

  @media screen and (min-width: 1100px) {
    h5 {
       font-size: 18px!important;
    } 
  }

  #arrow1 {
     text-align: left!important;
     position: absolute!important;
     padding-left: 5vw;
     color: green;
  }

  @media screen and (max-width: 767px) {
    #arrow1 {
       display: none!important;
    } 
  }


  #arrow2 {
    text-align: left!important;
    position: absolute!important;
    padding-left: 3.2vw;
    color: green;
 }

 @media screen and (max-width: 767px) {
   #arrow2 {
      display: none!important;
   } 
 }

 
  

  i {
    font-size: 1.7vw!important;
    
  }
  @media screen and (max-width: 767px) {
    i {
       font-size: 30px!important;
    } 
  }

  @media screen and (min-width: 1100px) {
    i {
       font-size: 25px!important;
    } 
  }

  

#or {
    font-size: 3em;
}

.separation{
    height: 1px;
  background-color: white;
  border: 0;
  width: 4rem;
}


.question:hover{
    background-color:rgba(68, 68, 68, 0.096)!important;
   
}


.resize>div:hover {
    background-color: rgba(18, 83, 33, 0.788)!important;
    cursor: pointer;
}

.card-body>i.fa-frown:hover {
    color: red;
    cursor: pointer;
}

.sadClicked {
    color: red;
}

.mehClicked {
    color: orange;
}

.happyClicked {
    color: green;
}



.card-body>i.fa-meh:hover {
    color: orange;
    cursor: pointer;
}

.card-body>i.fa-smile:hover {
    color: green;
    cursor: pointer;
}

#previous{
    cursor: pointer;
}

.btn-success.focus, .btn-success:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(27, 133, 36, 0.459) !important;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

hr {
    border-width: 0.15rem !important;
}
